.images-list-with-products .images-list__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images-list-with-products .images-list__item img {
  display: block;
  margin-bottom: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.images-list-with-products .text-container {
  min-height: 1.5em;
  display: block !important;
}

.images-list-with-products .images-list__item .text-container p {
  text-align: left;
  margin: 0;
  line-height: 1.5em;
}

.images-list-with-products modal-opener {
  display: block !important;
}

.images-list-with-products modal-opener button {
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

div:has(>.pointer) {
  position: relative;
}

.pointer {
  display: block !important;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
}

.pointer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  animation: pulse 2s infinite linear;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1.25);
  }

  25% {
    transform: translate(-50%, -50%) scale(1.5);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.75);
  }

  75% {
    transform: translate(-50%, -50%) scale(1.5);
  }

  100% {
    transform: translate(-50%, -50%) scale(1.25);
  }
}

/* Modal */
.product-popup-modal .product-popup-modal__content {
  padding: 0 3rem !important;
  margin-top: 0;
  height: fit-content;
  max-height: 80%;
  max-width: 768px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-popup-modal__content-info {
  display: grid;
  grid-template-areas:
    "heading"
    "image"
    "content"
    "additional";
  gap: 1rem;
  padding: 1rem !important;
}

.heading-container {
  grid-area: heading;
}

.image-container {
  grid-area: image;
  display: flex;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: min(450px, 70%) !important;
  margin: 0 auto;
  object-fit: cover;
}

.content-container {
  grid-area: content;
}

.additional-information {
  grid-area: additional;
  margin-top: auto;
}

/* Desktop layout */
@media (min-width: 751px) {
  .product-popup-modal__content-info {
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "image heading"
      "image content"
      "additional additional";
    height: 100%;
  }

  .product-popup-modal__content-info>* {
    min-width: 0;
    /* Avoid overflow issues */
  }

  .image-container img {
    max-width: 100% !important;
  }
}

.section-images-list-with-product-link .image-container {
  flex-direction: column;
}

.section-images-list-with-product-link .image-container img {
  max-width: unset !important;
}

.section-images-list-with-product-link .image-container .label p {
  margin: 0;
}

.section-images-list-with-product-link .yotpo-sr-bottom-line-right-panel {
  display: none !important;
}

@media (max-width: 751px) {
  .section-images-list-with-product-link .card:not(.ratio) {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 751px) {
  .section-images-list-with-product-link .product-popup-modal__content-info {
    grid-template-columns: 65% 1fr;
    align-items: center;
  }
}