/* COLLECTION MODAL CARD (PREVIEW) */
.product-modal-card {
  border: 1px solid;
  margin-top: 1rem;
  flex: 1;
  width: 100%;
  max-width: 359px;
  position: relative;
  margin-top: 1rem;
}

/* .product-modal-card::after {
  content:"";
  width:100%;
  height:100%;
  top:0;
  left:0;
} */

.product-modal-card .grid {
  flex-wrap: nowrap;
  height: 100%;
}

.product-modal-card .product-modal-card__image-wrapper {
  width: 35%;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-modal-card .product-modal-card__image-wrapper img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  margin: 0;
  display: block;
}

.product-modal-card .product-modal-card__text-wrapper {
  padding: 1rem 1.2rem;
  flex-grow: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-modal-card .text-wrapper__top {
  margin-bottom: 1.3rem;
}

.product-modal-card .product-modal-card__text-wrapper *:not(div),
.product-modal-card .product-modal-card__text-wrapper .price {
  font-size: 1.3rem;
  line-height: 1.5em;
  letter-spacing: 0;
  margin: 0;
}

.product-modal-card .text-wrapper__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-modal-card .quick-add {
  margin: 0;
  position: unset;
}

.product-modal-card .collection-cta.button {
  font-size: 1rem;
  line-height: 1.2em;
  padding: 0.5rem;
  width: 100%;
  min-height: 0;
  box-sizing: border-box;
  min-width: unset;
}

.product-modal-card .quick-add__submit {
  background: none;
  padding: 0;
  color: rgba(var(--color-foreground), 1);
  min-height: 0;
  font-size: 1.3rem;
  line-height: 1.5em;
  letter-spacing: 0;
  position: unset;
  text-decoration: underline;
  text-underline-offset: .3rem;
}

.product-modal-card .quick-add__submit::before,
.product-modal-card .quick-add__submit::after {
  content: none;
}

.product-modal-card .button.loading {
  position: unset;
}

.product-modal-card .button.loading>.loading-overlay__spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .7) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 0);
}

.product-modal-card .loading-overlay__spinner>svg.spinner {
  height: 50%;
  width:auto!important;
  aspect-ratio: 1;
}