@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');


main#MainContent h1,
main#MainContent .h1,
main#MainContent h2,
main#MainContent .h2,
main#MainContent h3,
main#MainContent .h3,
main#MainContent .h0 {
  font-weight: 300;
  color: #242424;
  line-height: 1.1em;
}

main#MainContent h1 em,
main#MainContent .h1 em,
main#MainContent h2 em,
main#MainContent .h2 em,
main#MainContent h3 em,
main#MainContent .h3 em,
main#MainContent .h0 em {
  font-family: "Libre Caslon Text", serif;
}

main#MainContent .h4,
main#MainContent .h5{
  color: #5c5c5c;
  font-weight: 300;
  line-height: 1.1em;
}

main#MainContent p{
  color: #242424;
  font-weight:300;
  line-height: 1.1em;
}

main#MainContent .rte+.rte {
  margin-top: 2.8rem;
}

@media screen and (min-width:990px) {
  main#MainContent .rte+.rte {
    margin-top: 3.8rem;
  }
}

@media screen and (min-width:768px) {
  main#MainContent h1,
  main#MainContent .h1,
  main#MainContent h2,
  main#MainContent .h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width:990px) {

  main#MainContent p {
    font-size: 20px;
  }
}

@media screen and (min-width:1920px) {
  main#MainContent h1,
  main#MainContent .h1,
  main#MainContent h2,
  main#MainContent .h2 {
    font-size: 5rem;
  }

  main#MainContent .h4{
    font-size:24px;
  }

  main#MainContent .h5:not(.article-card__info){
    font-size:20px;
  }

  main#MainContent p {
    font-size: 24px;
  }
}

@media screen and (min-width:1400px){
  #shopify-section-template--26653000368502__collection_carrousel_9gAxkJ .page-width{
    padding-right:5rem!important;
    padding-left:5rem!important;
  }
}

main#MainContent .review-section_text p{
  font-size:1.4rem!important;
  line-height:1.2em!important;
}

main#MainContent .review-section_text .review-button{
  font-size:1.2rem;
}