.section-sitemap .sitemap-list {
  padding-inline-start: 0;
  list-style-position: inside;
}

@media screen and (min-width:768px) {
  .section-sitemap .sitemap-list {
    column-count: 2;
    column-gap: 2rem;
  }
}

@media screen and (min-width:990px) {
  .section-sitemap .sitemap-list {
    column-count: 3;
    column-gap: 3rem;
  }
}

.section-sitemap .sitemap-item {
  cursor: pointer;
  margin-bottom: 10px;
  break-inside: avoid;
  margin-bottom: 1.5rem;
}

.section-sitemap .sitemap-item::marker {
  font-weight: 500;
}

.section-sitemap .sitemap-item>a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1rem;
}

.section-sitemap .sitemap-item:hover a {
  text-decoration-thickness: 0.2rem;
}

.sitemap-pagination__load-more {
  margin-top: 3rem;
  text-align: center;
}

/* @media screen and (min-width: 768px) {
  .section-sitemap .categories-container>div {
    width: 50%;
    padding: 15px;
  }

  .section-sitemap .categories-container>div:nth-child(odd) {
    float: left;
  }

  .section-sitemap .categories-container>div:nth-child(even) {
    float: right;
  }
} */