*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: calc(var(--font-body-scale) * 62.5%);
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.6 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}

@media screen and (min-width: 750px) {
    body {
        font-size: 1.6rem;
    }
}

div.snize-ac-results.snize-ac-results-mobile {
    background-color: #fff !important;
}

.wheelify-spin-trigger-cc {
    z-index: 6 !important;
}